<h1>Edit Picture #<%= @picture.id %></h1>

<form action="http://localhost:3000/pictures/<%= @picture.id %>/update">
  <label for="source">Source URL:</label>
  <input id="source" type="text" name="source" value="<%= @picture.source %>">

  <label for="caption">Caption:</label>
  <input id="caption" type="text" name="caption" value="<%= @picture.caption %>">

  <input type="submit">
</form>
