<h1>List of Pictures</h1>

<ul>
  <% @pictures.each do |picture| %>
    <li>
      <%= link_to(picture[:caption], "http://localhost:3000/pictures/#{@pictures.index(picture)}") %>
<!--       <a href="http://localhost:3000/pictures/<%= @pictures.index(picture) %>">
        <%= picture[:caption] %>
      </a> -->
    </li>
  <% end %>
</ul>
