<h1>Picture Details</h1>

<%= image_tag(@picture.source, width: 240) %>

<p><%= @picture.caption%></p>

<%= link_to "Toast", "http://localhost:3000/pictures/#{@picture.id}/delete", confirm: "Are you sure?" %>
<%= link_to "Edit", "http://localhost:3000/pictures/#{@picture.id}/edit" %>
